
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İstatistik Sayfası - Serdal KESKİN</h2>
<table>

    <tr>
        <td>
            <div class="card text-white  bg-gradient-dark" style="max-width:20rem;">
                <div class="card-header">İstatistikler 1</div>
                <div class="card-body">
                    <h1 class="card-title">Toplam Kategori Sayısı</h1>
                    <br />
                    <br />
                    <h5 class="card-text">@ViewBag.kategorigetir</h5>
                </div>
            </div>
        </td>

        <td>
            <div class="card text-white  badge-warning" style="max-width:20rem;">
                <div class="card-header">İstatistikler 2</div>
                <div class="card-body">
                    <h1 class="card-title">Yazılım Konu Sayısı</h1>
                    <br />
                    <br />
                    <h5 class="card-text">@ViewBag.yazilim</h5>
                </div>
            </div>
        </td>

        <td>
            <div class="card text-white  bg-danger" style="max-width:20rem;">
                <div class="card-header">İstatistikler 3</div>
                <div class="card-body">
                    <h1 class="card-title">durumu true ile false olan kategoriler arasındaki sayısal fark</h1>
                    <br />
                    <br />
                    <h5 class="card-text">@ViewBag.status</h5>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="card text-white  bg-primary" style="max-width:20rem;">
                <div class="card-header">İstatistikler 4</div>
                <div class="card-body">
                    <h1 class="card-title">Adında A harfi geçen yazar sayısı</h1>
                    <br />
                    <br />
                    <h5 class="card-text">@ViewBag.yazar</h5>
                </div>
            </div>
        </td>

        <td>
            <div class="card text-white  bg-gradient-maroon" style="max-width:20rem;">
                <div class="card-header">İstatistikler 5</div>
                <div class="card-body">
                    <h1 class="card-title">En fazla başlığa sahip kategori adı</h1>
                    <br />
                    <br />
                    <h5 class="card-text">@ViewBag.baslik</h5>
                </div>
            </div>
        </td>
    </tr>
</table>

